*
    {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body
    {
        background-color: #181818;
        margin: 0 auto;
        
    }

    nav
    {
        background-color: #383838;
    }

    nav ul 
    {
        display: flex;
        list-style-type: none;
        justify-content: center;
        margin-bottom: 0;
    }

    nav ul li
    {
        margin: 0 20px;
    }

    nav ul li a
    {
        text-decoration: none;
        color: white;
    }

    nav ul li a:hover
    {
        text-decoration: underline;
    }

    footer
    {
        text-align: center;
        margin-top: 50px;
    }

    /* Test Selection Page */

    .welcome-section
    {
        background: linear-gradient(#383838, #181818);
        margin-top: 0;
    }

    .welcome-message
    {
        height: 150px;
        font-size: 48px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 10px;
        width: 80%;
        margin: 0 auto;
    }

    .main-content
    {
        width: 80%;
        margin: 0 auto;
    }

    .section-title
    {
        margin-top: 50px;
        padding-left: 2%;
    }

    .test-section
    {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 50px;
        margin-left: 60px;
        text-decoration: none;
    }

    .test-box
    {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid #eeeeee;
        flex-wrap: wrap;
        width: 300px;
        height: 250px;
        margin: 10px;
        margin-top: 30px;
        text-decoration: none;
        box-shadow: 5px 5px 15px rgba(128,128,128, 0.7);
    }

    .test-box a
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        width: 80%;
        margin: 0 auto;
        
    }

    .test-box h3
    {
        border-bottom: 1px solid currentColor;
        width: 100%;
    }

    .test-contents
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        width: 300px;
        height: 250px;
        font-size: 20px;
    }

    .test-contents .btn-primary 
    {
        align-self: flex-end;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .test-box:hover
    {
        transform: scale(1.05);
        transition: transform 0.1s ease;
        box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.3);
    }

    .btn-primary {
        background-color: darkred;
        border-color: darkred;
    }
    
    .btn-primary:hover {
        background-color: #5e0000;
        border-color: #5e0000;
    }