:root {
    --text: 255 255 255;
    --background: 15 15 15;
    --elevate-1: 20 20 20;
    --elevate-2: 24 24 24;
    --elevate-3: 32 32 32;
    --elevate-4: 44 44 44;
    --primary: 163 163 163;
    --secondary: #2c2c2c;
    /* TODO: Change all variables to numbers instead of hex values */
    --accent: 255 121 157;
    --accent-gradient: hsl(344, 100%, 74%);
    --accent-gradient-1: hsl(324, 100%, 74%);
    --accent-gradient-2: hsl(4, 100%, 74%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-color: #fff transparent transparent transparent;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
body {
    min-height: 100vh;
    min-height: 100svh;
    max-width: 100vw;
    max-width: 100svw;
    width: 100%;
    background-color: rgb(var(--background));
    background:
        rgb(var(--background))
        linear-gradient(
            to right,
            transparent,
            rgb(var(--accent) / 10%),
            transparent
        )
    ;
    display: grid;
    /* grid-template-columns:
        [full-width-start navbar-start]
        minmax(200px, 12%)
        [main-start navbar-end header-start]
        1fr
        [main-end aside-start]
        minmax(200px, 12%)
        [full-width-end header-end aside-end]
    ; */
    grid-template-columns:
        [full-width-start navbar-start]
        minmax(200px, 12%)
        [main-start navbar-end header-start]
        1fr
        [full-width-end main-end header-end]
    ;
    grid-template-rows:
        [full-height-start header-row-start]
        128px
        [header-row-end main-row-start]
        1fr
        [full-height-end main-row-end]
    ;
    /* overflow-x: clip; */
}
body > header {
    grid-column: header;
    grid-row: header-row;
    width: 100%;
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}
body > header .title {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
body > header .title #page-title {
    color: rgb(var(--text));
    margin: 2px 0;
}
body > header .title #breadcrumbs {
    color: rgb(var(--primary));
    margin: 2px 0;
    display: flex;
}
body > header .title #breadcrumbs a {
    color: inherit;
}
body > header .title #breadcrumbs a[data-link] {
    text-decoration: underline;
}
body > header .title #breadcrumbs a:hover {
    color: rgb(var(--text));
}
body > header .title #breadcrumbs i {
    margin: 0 8px;
}
body > header .search {
    position: relative;
    display: flex;
    gap: 2px;
    background: rgb(var(--elevate-1));
    border-radius: 28px;
    /* min-width: 256px; */
    height: 48px;
    z-index: 1;
    transition: min-width 0.5s;
}
body > header .search #logout {
    padding: 8px;
    background-color: rgb(var(--background));
    aspect-ratio: 1 / 1;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
}
body > header .search #logout svg {
    color: rgb(var(--primary));
    stroke-width: 4px;
    transition: color 0.5s;
}
body > header .search #logout:hover {
    background-color: rgb(var(--elevate-4));
}
body > header .search #logout:hover svg {
    color: rgb(var(--text));
}
body > header .search .search-box {
    width: 100%;
    overflow: hidden;
}
body > header .search > * {
    height: calc(100% - 8px);
    margin: 4px 0;
    border-radius: 8px;
}
body > header .search > *:last-child {
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    margin-right: 4px;
}
body > header .search > *:first-child {
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    margin-left: 4px;
}
body > header .search .search-box form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgb(var(--background));
    padding: 0 8px;
    transition: background-color 0.5s;
}
body > header .search .search-box form input {
    padding: 0 8px;
    background: none;
    outline: none;
    border: none;
    font-size: 1rem;
    color: rgb(var(--text));
    width: 100%;
}
body > header .search:has(.search-box form input:focus) #logout,
body > header .search:has(.search-box form input:focus-visible) #logout,
body > header .search:has(.search-box form input:not(:placeholder-shown)) #logout,
body > header .search .search-box form:has(input:focus),
body > header .search .search-box form:has(input:focus-visible),
body > header .search .search-box form:has(input:not(:placeholder-shown)) {
    background-color: rgba(0,0,0,0.7);
}
body > header .search:has(.search-box form input:focus) #logout:hover,
body > header .search:has(.search-box form input:focus-visible) #logout:hover,
body > header .search:has(.search-box form input:not(:placeholder-shown)) #logout:hover {
    background-color: rgb(var(--elevate-4) / 70%);
}
body > header .search:has(.search-box form input:focus),
body > header .search:has(.search-box form input:focus-visible),
body > header .search:has(.search-box form input:not(:placeholder-shown)) {
    min-width: 512px;
}
body > header .search .search-box form input::placeholder {
    color: rgb(var(--primary));
}
body > header .search::before {
    position: absolute;
    content: '';
    inset: 0;
    background: linear-gradient(to right, var(--accent-gradient-1), var(--accent-gradient-2));
    border-radius: 28px;
    z-index: -1;
    transition: opacity 0.5s;
    opacity: 0;
}
body > header .search:has(.search-box form input:focus)::before,
body > header .search:has(.search-box form input:focus-visible)::before,
body > header .search:has(.search-box form input:not(:placeholder-shown))::before {
    opacity: 1;
}

body > nav {
    position: relative;
    grid-column: navbar;
    grid-row: full-height;
    /* height: 100vh; */
    /* height: 100svh; */
    height: 100%;
    background-color: rgb(var(--elevate-1));
    overflow: clip;
}
body > nav .top {
    height: 128px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
body > nav .glow {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    background-color: rgb(var(--accent));
    width: 96px;
    height: 80px;
    border-radius: 48px;
    filter: blur(64px);
}
body > nav .indicator {
    position: absolute;
    right: 0;
    top: calc(40px + calc(var(--pos) * 64px));
    width: 4px;
    height: 48px;
    background-color: rgb(var(--accent));
    border-radius: 1em;
    transition: top 0.5s;
}
body > nav ul {
    position: sticky;
    top: -24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 32px;
}
body > nav ul li {
    height: 64px;
    /* padding: 16px 0; */
    cursor: pointer;
    list-style: none;
}
body > nav ul li a {
    height: 100%;
    text-decoration: none;
    color: rgb(var(--primary));
    display: flex;
    align-items: center;
    padding: 0 16px;
    transition: color 0.5s;
}
body > nav ul li:hover a {
    color: rgb(var(--text));
}
body > nav ul li.active a {
    color: rgb(var(--accent));
}
body > nav ul li a svg {
    width: 24px;
    stroke-width: 3px;
}
body > nav ul li a span {
    margin: 0 16px;
    font-size: 1rem;
}
body > nav .top > a {
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: rgb(var(--text));
    letter-spacing: 2px;
    cursor: pointer;
}
body > nav .top > a i {
    font-style: normal;
    color: rgb(var(--accent));
}

@media (max-width: 1100px) {
    body {
        grid-template-columns:
            [full-width-start navbar-start]
            56px
            [main-start navbar-end header-start]
            1fr
            [full-width-end main-end header-end]
        ;
    }
    body > nav .top > a span {
        display: none;
    }
    body > nav .top > a i {
        font-size: 3rem;
    }
}



body > main {
    position: relative;
    grid-column: header;
    grid-row: main-row;
    padding: 0 32px;
    /* display: grid; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: rgb(var(--primary));
}
body > main .dashboard-cards {
    position: relative;
    min-height: 100%;
    display: grid;
    /* grid-template-areas:
        'card1 card4'
        'card2 card4'
        'card3 card5'
    ;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr; */
    grid-template-areas:
        'card1 card2'
        'card3 card3'
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}
body > main .dashboard-cards .card {
    background-color: rgb(var(--elevate-2));
    margin: 16px;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* min-height: 196px; */
    /* max-height: 256px; */
}
body > main .dashboard-cards .card:nth-child(1) {
    grid-area: card1;
}
body > main .dashboard-cards .card:nth-child(2) {
    grid-area: card2;
}
body > main .dashboard-cards .card:nth-child(3) {
    grid-area: card3;
    /* min-height: 512px; */
    /* max-height: unset; */
}
@media (max-width: 800px) {
    body > main .dashboard-cards {
        grid-template-areas:
            'card1'
            'card2'
            'card3'
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 2fr;
    }
}
body > main .dashboard-cards .card h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #a3a3a3;
    margin-bottom: 16px;
    margin-left: 16px;
}
body > main .dashboard-cards .card h2 i {
    --plus-width: 3px;
    position: relative;
    height: 80%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}
body > main .dashboard-cards .card h2 i::before {
    position: absolute;
    content: '';
    inset: 50%;
    translate: -50% -50%;
    height: 100%;
    width: var(--plus-width);
    border-radius: 1rem;
    background-color: #777;
    transition: 0.5s background-color;
}
body > main .dashboard-cards .card h2 i::after {
    position: absolute;
    content: '';
    inset: 50%;
    translate: -50% -50%;
    height: var(--plus-width);
    width: 100%;
    border-radius: 1rem;
    background-color: #777;
    transition: 0.5s background-color;
}
body > main .dashboard-cards .card h2 i:hover::before {
    background-color: rgb(var(--text));
}
body > main .dashboard-cards .card h2 i:hover::after {
    background-color: rgb(var(--text));
}
body > main .dashboard-cards .card .stats {
    width: 100%;
    margin: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
body > main .dashboard-cards .card .stats > div {
    width: 30%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}
body > main .dashboard-cards .card .stats > div h3 {
    color: #ddd;
    font-size: 2em;
}
body > main .dashboard-cards .card .stats > div span {
    color: #777;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 0.8em;
}
body > main .dashboard-cards .card .stats > div hr {
    width: 100%;
    margin: 4px 0;
    border-color: #fff;
    opacity: 0.1;
    transition: opacity 0.5s, border-color 0.5s;
}
body > main .dashboard-cards .card .stats > div:hover hr {
    border-color: var(--clr);
    opacity: 0.5;
}
body > main .dashboard-cards .card .ratio-bar {
    --total: calc(var(--value1) + var(--value2) + var(--value3));
    position: relative;
    display: flex;
    width: 100%;
    height: 32px;
    border-radius: 1rem;
    overflow: hidden;
}
body > main .dashboard-cards .card .ratio-bar i {
    position: relative;
    display: none;
    height: 100%;
    background-color: rgb(var(--primary));
    opacity: 0.3;
}
body > main .dashboard-cards .card .ratio-bar i:nth-of-type(1) {
    display: initial;
    width: calc(var(--value1) * 100 / var(--total) * 1%);
}
body > main .dashboard-cards .card .ratio-bar i:nth-of-type(2) {
    display: initial;
    width: calc(var(--value2) * 100 / var(--total) * 1%);
}
body > main .dashboard-cards .card .ratio-bar i:nth-of-type(3) {
    display: initial;
    width: calc(var(--value3) * 100 / var(--total) * 1%);
}
.n-a,
body > main .dashboard-cards .card > h3 {
    width: 100%;
    margin: auto 0;
    text-align: center;
    font-weight: 600;
    font-size: 4em;
    color: rgba(255,255,255,0.1);
    cursor: default;
    user-select: none;
}
body > main .dashboard-cards .card form {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 8px;
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 16px;
}
body > main .dashboard-cards .card form fieldset {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
    gap: 8px;
}
body > main .dashboard-cards .card form legend {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(var(--text));
    font-size: 1.5em;
}
body > main .dashboard-cards .card form input[type="text"] {
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.3);
    padding: 8px 16px;
    border-radius: 10px;
    color: rgb(var(--text));
}
body > main .dashboard-cards .card form .user-row-btns {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
}
body > main .dashboard-cards .card form .user-row-btns button {
    position: relative;
    /* width: clamp(128px, 100%, 512px); */
    width: 128px;
    /* margin: 0 16px; */
    background-color: var(--secondary);
    border: unset;
    padding: 8px 16px;
    color: rgb(var(--primary));
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 10px;
    transition: letter-spacing 0.5s, background-color 0.5s, color 0.5s;
    cursor: pointer;
}
body > main .dashboard-cards .card form .user-row-btns button.primary {
    background-color: rgb(var(--accent) / 50%);
    color: rgb(var(--text));
}
body > main .dashboard-cards .card form .user-row-btns button:hover {
    letter-spacing: 1px;
    color: rgb(var(--text));
}
body > main .dashboard-cards .card form .user-row-btns button.primary:hover {
    background-color: rgb(var(--accent) / 75%);
}
body > main .dashboard-cards .card form .user-row-btns button.to-error:hover {
    background-color: rgba(200,0,0,0.5);
}

/* Student Management */
section.management {
    background-color: rgb(var(--elevate-2));
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 16px;
    margin: 16px;
    border-radius: 16px;
    gap: 8px;
}
table {
    width: 100%;
    color: #fff;
    border-collapse: collapse;
}
table thead tr {
    text-align: left;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
table tbody tr {
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
table tr th,
table tr td {
    padding: 8px 12px;
}
table th:last-of-type,
table td:last-of-type {
    text-align: center;
}
table td:last-of-type > div {
    justify-content: center;
    flex-direction: row;
}
table td > * {
    margin: 4px 0;
}
table td > div {
    height: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}
table td > span,
table td > a,
table td > div span {
    font-size: 1em;
    color: rgb(var(--text));
}
table td > div a {
    font-size: 0.8em;
    color: #aaa;
    text-decoration: none;
}
table td > div a:hover {
    color: rgb(var(--accent));
    text-decoration: underline;
}
table td > div.icons {
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    padding: 8px 0;
}
table td > div.icons svg {
    height: 100%;
    color: rgb(var(--primary));
    cursor: pointer;
}
table td > div.icons svg:hover {
    height: 100%;
    color: rgb(var(--accent));
}
table td.correct {
    background-color: rgba(0,200,0,0.3);
}
section {
    min-height: calc(100% - 32px - 32px);
}
section .table {
    position: relative;
    height: 100%;
    width: 100%;
}
section .table .n-a {
    position: absolute;
    inset: 0;
    align-content: center;
}
section .table .lds-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: flex;
}
section .table .lds-ring.hidden {
    display: none;
}
section .table .lds-ring div {
    border: 8px solid rgb(var(--primary));
    border-color: rgb(var(--primary)) transparent transparent transparent;
}
section .table table tbody tr {
    height: 64px;
}
section .table-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .table-header .table-perpage {
    /* margin-bottom: 8px; */
    padding: 8px 12px;
    color: rgb(var(--primary));
}
section .table-header .table-perpage select {
    margin: 0 4px;
    padding: 3px;
    font-size: 1.1em;
    background-color: transparent;
    color: rgb(var(--primary));
}
section .table-header .table-btns {
    height: 100%;
    padding: 4px;
}
section .table-header .table-btns button {
    height: 100%;
    padding: 4px 12px;
    font-size: 0.9rem;
    /* font-weight: 600; */
    background-color: transparent;
    border: 2px solid rgb(var(--accent));
    border-radius: 8px;
    color: rgb(var(--text));
    cursor: pointer;
    transition: background-color 0.5s;
}
section .table-header .table-btns button:hover {
    background-color: rgb(var(--accent));
}
section .pagination {
    width: 100%;
    margin: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .pagination nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
section .pagination nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0 8px;
}
section .pagination nav ul li {
    width: 48px;
    aspect-ratio: 1 / 1;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(var(--elevate-3));
    border-radius: 8px;
    cursor: pointer;
}
section .pagination nav ul li.hidden {
    display: none;
}
section .pagination nav ul li:hover {
    background-color: rgb(var(--elevate-4));
}
section .pagination nav ul li.active {
    background-color: rgb(var(--accent) / 90%);
}
section .pagination nav ul li.active:hover {
    background-color: rgb(var(--accent));
}
section .pagination nav ul li span {
    font-size: 1.5em;
    color: rgb(var(--primary));
    user-select: none;
}
section .pagination nav ul li:hover span {
    color: rgb(var(--text));
}
section .pagination nav ul li.active span {
    color: rgb(var(--text));
}
section .pagination .arrow {
    width: 48px;
    height: 48px;
    padding: 4px;
    border-radius: 8px;
    cursor: pointer;
}
section .pagination .arrow:hover {
    background-color: rgb(var(--elevate-3));
}
section .pagination .arrow svg {
    width: 100%;
    height: 100%;
    color: rgb(var(--primary));
    stroke-width: 2px;
}
section .pagination .arrow:hover svg {
    color: rgb(var(--text));
}
section .pagination span {
    padding: 8px 12px;
    color: rgb(var(--text));
}


.bar-chart {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}
.bar-chart .bar-chart-values {
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-direction: column;
}
.bar-chart.bar-chart-align-right .bar-chart-values {
    align-items: start;
}
.bar-chart .bar-chart-values span {
    color: #a3a3a3
}
.bar-chart .bar-chart-graph {
    position: relative;
    display: flex;
    align-items: end;
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin-left: 8px;
    border-left: 2px solid rgba(255,255,255,0.1);
    border-bottom: 2px solid rgba(255,255,255,0.1);
}
.bar-chart.bar-chart-align-right .bar-chart-graph {
    justify-content: end;
    margin-left: 0;
    border-left: none;
    margin-right: 8px;
    border-right: 2px solid rgba(255,255,255,0.1);
}
.bar-chart .bar-chart-graph .bar-chart-bar {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    /* width: clamp(1rem, 100%, 4rem); */
    width: 100%;
    height: 100%;
    margin: 0 2px;
}
.bar-chart .bar-chart-graph .bar-chart-bar i {
    position: relative;
    width: 100%;
    height: clamp(0%, calc(var(--value) * 1%), 100%);
    background: linear-gradient(
        to bottom,
        rgb(var(--elevate-3)),
        rgb(var(--elevate-2))
    );
}
.bar-chart .bar-chart-graph .bar-chart-bar:hover i {
    background: linear-gradient(
        to bottom,
        rgb(var(--accent)),
        rgb(var(--elevate-2))
    );
}
.bar-chart .bar-chart-graph .bar-chart-bar i::after {
    position: absolute;
    display: none;
    counter-reset: value var(--value);
    content: counter(value);
    top: 0;
    left: 50%;
    translate: -50% -125%;
    padding: 4px 12px;
    background-color: rgb(var(--elevate-3));
    border-radius: 1rem;
    border: 1px solid rgb(var(--accent));
    color: rgb(var(--text));
    text-align: center;
    font-size: 1.2em;
    z-index: 1;
}
.bar-chart .bar-chart-graph .bar-chart-bar:hover i::after {
    display: initial;
}




.input-switch {
    position: relative;
    width: 100%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(var(--accent));
    background:
        linear-gradient(
            to right,
            var(--accent-gradient-1),
            var(--accent-gradient-2)
        )
    ;
    background: rgba(255,255,255,0.3);
    border-radius: 1rem;
}
.input-switch > div {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
    border-radius: 1rem;
}
.input-switch .input-switch-option {
    position: relative;
    min-width: 96px;
    width: 100%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.input-switch .input-switch-option label {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: rgb(var(--primary));
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    z-index: 1;
}
.input-switch .input-switch-option input:checked ~ label {
    color: rgb(var(--text));
}
.input-switch .input-switch-option input {
    width: 0;
    height: 0;
    opacity: 0;
}
.input-switch .input-switch-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: calc(100 / var(--count) * 1%);
    background-color: rgba(0,0,0,0.3);
    border-radius: 1rem;
    transition: left 0.5s;
}


dialog {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 2px;
    background: whitesmoke;
    border: none;
    width: clamp(25vw, 512px, 95vw);
    min-height: 256px;
    border-radius: 16px;
    z-index: 50;
}
dialog[open] {
    display: flex;
    flex-direction: column;
}
dialog#popup {
    z-index: 100;
}
dialog#popup.error {
    background-color: darkred;
}
dialog#popup.success {
    background-color: darkgreen;
}
dialog > form {
    position: relative;
    padding: 16px;
    background-color: rgba(0,0,0,0.85);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
    /* Parent border-radius minus child inset */
    border-radius: 14px;
}
dialog#popup > form {
    padding: 3px;
}
dialog > form fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: none;
}
dialog > form fieldset .form-input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
}
dialog > form fieldset .form-input label {
    width: 100%;
    color: rgb(var(--primary));
}
dialog > form fieldset .form-input label i {
    color: red;
}
dialog > form fieldset .form-input select,
dialog > form fieldset .form-input textarea,
dialog > form fieldset .form-input input {
    width: 100%;
    font-size: 1rem;
    padding: 8px 12px;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 0.5rem;
    background-color: rgba(255,255,255,0.1);
    color: rgb(var(--text));
}
dialog > form fieldset .form-input select option {
    color: rgb(var(--background));
}
dialog > form fieldset .form-input.error > select,
dialog > form fieldset .form-input.error > textarea,
dialog > form fieldset .form-input.error > input {
    border: 1px solid red;
}
dialog > form fieldset .form-input.error > .input-switch {
    box-shadow: inset 0 0 2px 2px red;
}
dialog > form hr {
    width: 100%;
    height: 1px;
    margin: 16px 0;
    border: none;
    background-color: rgb(var(--text) / 30%);
}
dialog > form article {
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
dialog > form article p {
    color: rgb(var(--text));
}
dialog > form header {
    width: 100%;
    padding: 4px;
    border-radius: 12px 12px 4px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.1);
}
dialog > form header h3 {
    margin-left: 4px;
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(var(--text));
}
dialog > form header button {
    height: 32px;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.5s;
}
dialog > form header button:hover {
    background-color: rgba(255,255,255,0.1);
}
dialog > form header button i {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
dialog > form header button i::before,
dialog > form header button i::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 2px;
    height: 90%;
    background-color: white;
    border-radius: 1px;
}
dialog > form header button i::before {
    rotate: -45deg;
}
dialog > form header button i::after {
    rotate: 45deg;
}
dialog > form footer {
    width: 100%;
    padding: 4px;
    border-radius: 4px 4px 12px 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
dialog#popup > form footer {
    background-color: rgba(255,255,255,0.1);
}
dialog > form footer menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
dialog > form footer menu button {
    padding: 8px 12px;
    border: 1px solid rgb(var(--text) / 30%);
    border-radius: 0.5rem;
    background-color: transparent;
    color: rgb(var(--primary));
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}
dialog > form footer menu button:hover {
    background-color: rgb(var(--text) / 5%);
    color: rgb(var(--text));
}
dialog > form footer menu button[type="submit"] {
    background-color: rgb(var(--accent) / 80%);
    color: rgb(var(--text));
}
dialog > form footer menu button[type="submit"]:hover {
    background-color: rgb(var(--accent));
}
dialog#popup > form footer menu button {
    background-color: rgba(255,255,255,0.8);
    color: #181818;
}
dialog#popup > form footer menu button:hover {
    background-color: rgba(255,255,255,1);
    letter-spacing: unset;
}


.loader-bar {
    position: relative;
    width: 100%;
    height: 1px;
    overflow: hidden;
}
.loader-bar i {
    position: absolute;
    --width: 40%;
    left: calc(var(--width) * -1);
    height: 100%;
    width: var(--width);
    background: linear-gradient(
        to right,
        transparent,
        rgb(var(--accent)),
        transparent
    );
    /* border-radius: 1rem; */
    animation: loader-bar 1s infinite ease-in-out;
}
@keyframes loader-bar {
    0% {
        left: calc(var(--width) * -1);
    }
    100% {
        left: 100%;
    }
}





@media (max-width: 512px) {
    body {
        grid-template-rows:
            [full-height-start header-row-start]
            64px
            [header-row-end main-row-start]
            1fr
            [full-height-end main-row-end]
        ;
    }
    body > header {
        height: 64px;
        padding: 16px;
    }
    body > nav .top {
        height: 64px;
    }
    body > main {
        padding: 0;
    }
}